head{
  background-size: cover;
}

.note{
  font-size: 15px;
  color: lightgreen;
}

#song{
  font-size: 23px;
  margin: 15px;
}

.heading{
  font-size: 23px;
  width: 100%;
  margin: 0px;
}

canvas{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px aqua;
  width: 600px; 
  height: 450px; 
  position: absolute; 
  margin-top: 75px;
}

